<header class="fixed-top shadow">

  {% if page.header_top %}
  <div class="bg-primary">
    <div class="{{ header_contained ? "container" : "container-fluid" }}">
      <div class="row">
        <div class="col-12">
          {{ page.header_top }}
        </div>
      </div>
    </div>
  </div>
  {% endif %}

  <div class="bg-white py-2">
    <div class="{{ header_contained ? "container" : "w-100" }}"> {# w-100 because navbar assumes padding #}
      <nav class="navbar navbar-expand-lg px-0 navbar-light">

        {% if page.navigation.swat_branding %}
          {{ page.navigation.swat_branding }}
        {% endif %}

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">

          {% if page.navigation.swat_main_menu %}
          <div class="ml-lg-auto">
            {{ page.navigation.swat_main_menu }}
          </div>
          {% endif %}

          {% if page.navigation.swat_search %}
          <div class="form-inline">
            {{ page.navigation.swat_search }}
          </div>
          {% endif %}

        </div>
      </nav>
    </div>
  </div>

</header>
