{{ attach_library('swat4/header') }}

<header class="{{ header_fixed ? 'fixed-top' }} shadow">

  {% if page.header_top %}
  <div class="bg-light">
    <div class="{{ header_contained ? "container" : "container-fluid" }}">
      <div class="row">
        <div class="col-12">
          {{ page.header_top }}
        </div>
      </div>
    </div>
  </div>
  {% endif %}

  <div class="{{ header_navbar_bg ? header_navbar_bg }}">
    <div class="{{ header_contained ? "container" : "container-fluid" }}">

      {% set nav_attributes = create_attribute() %}
      {% set nav_classes = [
        'navbar',
        'navbar-expand-lg',
        'align-items-lg-end',
        'px-0',
        'py-3',
        header_navbar_type ? 'navbar-' ~ header_navbar_type,
      ] %}

      <nav {{ nav_attributes.addClass(nav_classes) }}>

        {# logo - change if needs to be dynamic. #}
        <div class="d-flex align-items-center">
          {% include '@swat4/logo.svg' with {
            logo_size: 200,
            title: 'Site logo',
          } %}
          <span class="badge rounded-pill bg-primary ms-3 fw-light">{{ 'Demo lab' }}</span>
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">

          {% if page.navigation %}
            <div class="ms-lg-auto">
              {{ page.navigation }}
            </div>
          {% endif %}

        </div>
      </nav>
    </div>
  </div>

</header>
